* {
    font-family: Tahoma;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

.site-heading {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}
.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px; 
}
@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}
.intro {
    position: relative;
}
@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }
    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}
@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}
.rounded {
    border-radius: 0.25rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.text-center {
    text-align: center !important;
}
.bg-faded {
    background-color: #f6e1c5;
}
.p-5 {
    padding: 3rem !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
.section-heading {
    text-transform: uppercase;
}
.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}
.section-heading .section-heading-lower {
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.btn-primary {
    color: #000;
    background-color: #e6a756;
    border-color: #e6a756;
}
.btn-primary:hover {
    color: #000;
    background-color: #eab46f;
    border-color: #e9b067;
}
.btn-xl {
    font-weight: 700;
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
}
.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
}
.cta .cta-inner:before {
    border-radius: 0.5rem;
    content: "";
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
    z-index: -1;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}
.col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
}
.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
}

.bg-faded {
    background-color: #f6e1c5;
}
.rounded {
    border-radius: 0.25rem !important;
}
.text-center {
    text-align: center !important;
}
p {
    line-height: 1.75;
}
.jumbotron{
    margin-top: 20px;
    margin-left: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #e6a756;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
.jumbotron .noi-dung{
    margin-right: 30px;
}
.jumbotron .noi-dung.about{
    width:40%;
}
.jumbotron .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.jumbotron .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.jumbotron .noi-dung.about p{
    color: black;
}
/*Thiết Lập Cho Thành Phần Đường Dẫn*/
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
    position: relative;
    width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: black;
}
/*Thiết Lập Cho Thành Phần Liên Hệ*/
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: black;
}
.contact .info li a{
    color: black;
    text-decoration: none;
}

iframe{
    width: 90%;
    margin-left: auto;
}


/*REGISTER*/
div.register {
    width: 90%;  
}

div.left, .right{
    display: inline-table;  
}

div.left > .form-group, .right > .form-group{
    margin: 10px 10px 10px 10px;
    width: 380px;
}

div.btnregister > button{
    margin: -10px 10px 100px 10px;
}

div.login {
    width: 50%; 
}

form .form-group{
    margin: 10px 10px 10px 10px;   
}

form .login{
    margin-right: auto;
}

.align-center {
    align-items: center !important;
}

.navbar{
    margin-bottom: 20px; 
}

a.nav-link.text-info {
    display: flex;
    align-items: center;
}

a.nav-link.text-info img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 7px;
    border-radius: 50%;
}

/* Validate form register*/
.was-validated .form-control.is-invalid:valid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


/*TRANG ĐẶT TIỆC - BOOKINGWEDDING*/
.booking{
    width: 95%;
    margin: auto;
    border: 1px #ccc solid;
    box-shadow: 0 0 8px rgb(223, 223, 223);
    padding: 10px;
    border-radius: 10px;
}

.booking h1 {
    font-size: 4vw !important;
    font-weight: bold;
    padding: 10px;
    text-shadow: 3px 3px 1px #120364;
}

.booking .info-user,
.booking .info-wedding{
    margin-left: 30px;
}

.booking .info-user .left,
.booking .info-user .right{
    align-items: center;
}

.booking .info-user h6,
.booking .info-wedding h6{
    font-weight: bold;
}

.booking .formOrders {
    width: 90%;
    margin: auto;
}
.booking .info-user form,
.booking .info-wedding form{
    display: flex;
    margin: 20px;
}

.booking .info-user form label{
    font-style: italic;
}

.booking .option{
    width: 100%;
    display: flex;
    padding-bottom: 15px;
}

.booking .option .form-check{
    margin: auto;
}

.btnBooking {
    color: white;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.btnBooking:hover{
    opacity: 0.8;
}

.d-flex .form-group{
    margin: 10px 10px 10px 10px;
    width: 380px;
}

.headerCate {
    font-size: 13px;
    text-align: center;
    width: fit-content;
    background-color: lightsteelblue;
}

.wrapper-foods {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}

.wrapper-foods .form-check {
    width: 100%;
}

/*DETAIL WEDDING*/
.titleWd {
    font-size: 4vw !important;
    font-weight: bold;
    padding: 10px;
    text-shadow: 3px 3px 1px #120364;
}
.note {
    border: 1px #ccc solid;
    box-shadow: 0 0 8px rgb(223, 223, 223);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px !important;
    margin-top: 50px;
}
.notetitle {
    background: #fff;
    margin-top: -20px;
    display: block;
    width: max-content;
    padding: 1px 21px;
    margin-left: -23px;
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    color: #8d7535;
    font-family: 'SVN-Cera',Helvetica,sans-serif;
}
.wdname {
    font-weight: bold;
}

.wdname:hover{
    font-size: 40px !important;
    font-style: italic;
    text-shadow: 1px 1px 0px #120364;
}

.wdHall:hover {
    font-weight: bold;
}
.imgWedding {
    width: 45%;
    margin: 20px;
}
.imgWedding .img-thumbnail.card-img-top.img-fluid {
    box-shadow: 0 0 8px rgb(223, 223, 223);
}

.imgWedding .img-thumbnail.card-img-top.img-fluid:hover{
    transform: scale(1.1);
}

.btnOrder {
    margin-top: 10px;
    width: 100px;
    margin-left: 70%;
    margin-bottom: -30px;
}

.col-md-4.col-xs-12 .card.Wd{
    margin: 10px;
    height: 350px;
    border: 1px #ccc solid;
    box-shadow: 0 0 8px rgb(223, 223, 223);
}

.col-md-4.col-xs-12 .card:hover{
    box-shadow: 2px 2px 8px rgb(223, 223, 223);
    border-color: #e6a756;
    transform: translateY(-5px);
    transform: scale(1.03);
    transition: 0.4s;
}

.col-md-4.col-xs-12 .card{
    margin: 10px;
    height: 415px;
}

.feedback {
    margin: auto;
    width: 80%;
    height: 100px;
}

.btn-feedback{
    margin: 20px;
    margin-left: 10%;
}

.list-feedback {
    width: 80%;
    margin: auto;
}

.be-comment {
    border: 1px #ccc solid;
    box-shadow: 0 0 8px rgb(223, 223, 223);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px !important;
    margin-top: 50px;
}

.be-comment-name {
    background: #fff;
    margin-top: -24px;
    display: block;
    width: max-content;
    padding: 1px 16px;
    margin-left: 4px;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    color: #8d7535;
    font-family: 'SVN-Cera',Helvetica,sans-serif;
}
.be-comment-text{
    margin-left: 14%;
    margin-top: 10px;
    font-size: 1.2rem;
}

.be-comment-time {
    color: #7A838B;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -40px;
    object-fit: cover;
    box-shadow: 0 0 8px rgb(192, 192, 192);
}

.section-title3 {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
    margin: 1%;
}
.section-title3 b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

/*LIÊN HỆ*/
@media screen and (max-width: 767px) {
    .c_info {
        float: none;
    }
}
@media screen and (max-width: 1023px) {
    .c_info {
        width: 100%;
        padding-top: 0;
    }
}

.c_info {
    position: relative;
    z-index: 2;
}

/*TRANG DỊCH VỤ*/
.carousel.slide .carousel-inner .carousel-item{
    height: 500px;
    width: 100%;
}
.carousel.slide .carousel-inner .carousel-item img{
    object-fit: cover;
    height: 500px;
    width: 100%;
}

.left.imgServices{
    width: 50%;
    align-items: flex-start;
    margin: auto;
}

.info-Services{
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.service {
    width: 48%;
    align-items: center;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px #ccc solid;
    box-shadow: 0 0 8px rgb(223, 223, 223);
    padding: 5px;
    border-radius: 10px;
}

.service:hover{
    background-color: #F7FAFD;
    transition: 0.5s;
    transform: translateY(-5px);
}

.service .name{
    width: 60%;
    padding: 5px;
}
.service .description{
    padding: 5px;
    width: 40%;
}

.service:hover .name-service{
    color: #FF4A52;
}

.price-service{
    margin-left: 10px; 
    width: fit-content;
    padding: 10px 12px;
    border-radius: 30px;
    line-height: 25px;
    color: #fff;
    background-color: #1ec6b6;
    transition: 0.3s;
    font-size: 1.4rem;
}
.price-service:hover{
    background-color: #FF4A52;
}

.section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
}

.section-title b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.introduce-service{
    width: 75%;
    align-items: flex-end;
    margin: auto;
}

.section-title2 {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
    margin: 5%;
}
.section-title2 b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.section-title-center span {
    margin: 0 15px;
}

/*HÌNH ẢNH MINH HỌA */
.block-static-block.widget, .block-cms-link.widget {
    margin-bottom: 17px;
    box-sizing: inherit;
}

.widget {
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --gray: #999;
    --blue: #0074d9;
    --color: #333;
    --background-color: #fff;
    --border: 1px solid #eee;
    color: #000;
    font-family: 'Averta CY','SVN-Cera',Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1rem;
    box-sizing: inherit;
    clear: both;
    margin-bottom: 17px;
    clear: both;
    display: flex;
    box-sizing: inherit;
}

.home-service, .home-service:before, .home-service:after,
.block-static-block, .block-static-block:before, .block-static-block:after,
.container-services, .container-services:before, .container-services:after{
    box-sizing: inherit;
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
    .cms__service .home-service .container-services {
        padding: 0 15px;
        margin-bottom: 60px;
    }}
.cms__service .home-service .container-services {
    padding: 0;
}
@media (min-width: 768px) and (max-width: 1280px){
    .home-service .container-services {
        padding: 0 15px;
    }}

.container-services {
    max-width: 1310px !important;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.home-service .container-services {
    max-width: 1280px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 102px;
}


.about-service {
    display: flex !important;
    flex-wrap: wrap;
    width: calc(100% + 60px);
    margin-top: 27px;
    position: relative;
    animation: myfirst 2s;
    animation-direction: alternate;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .about-service {
        width: calc(100%);
    }
}

@media (min-width: 1024px) and (max-width: 1280px){
    .service-one, .service-two, .service-three, .service-four {
        width: calc(50% - 100px);
        margin-left: 50px;
        margin-right: 20px;
        margin-bottom: 30px !important;
    }
}

.service-one, .service-two, .service-three, .service-four {
    position: relative;
    width: calc(45% - 60px);
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(10, 10, 10, 0.1);
}

@media (min-width: 1024px) and (max-width: 1210px){
    .details-service {
        padding: 22px;
    }
}

.details-service {
    border: 2px solid #8d7535;
    padding: 36px 0 33px 36px;
}


@media (min-width: 1024px) and (max-width: 1210px){
    .details-service {
        padding: 22px;
    }}

.details-service {
    border: 2px solid #8d7535;
    padding: 36px 0 33px 36px;
}

@media (min-width: 1024px) and (max-width: 1210px){
    .details-service .trongdong-color {
        margin-top: -45px;
        margin-left: -10px;
    }
}

.details-service .trongdong-color {
    background: #fff;
    margin-top: -54px;
    display: block;
    width: max-content;
    padding: 1px 21px;
    margin-left: -23px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    color: #8d7535;
    font-family: 'SVN-Cera',Helvetica,sans-serif;
}

@media (min-width: 768px), print{
    h2 {
        margin-bottom: 30px;
    }
}

h2 {
    text-transform: uppercase;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}


@media (min-width: 1024px) and (max-width: 1210px){
    .details-service>p {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1280px){
    .details-service>p {
        font-size: 13px;
    }
}

.details-service>p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 50%;
    font-size: 14px;
    line-height: 1.86;
    font-family: 'Averta CY','SVN-Cera',Helvetica,sans-serif;
    margin-bottom: 6px;
}

@media (min-width: 1024px) and (max-width: 1280px){
    .service-one .img-service, .service-two .img-service, .service-three .img-service, .service-four .img-service {
        right: -35px;
    }
}

@media (min-width: 1024px) and (max-width: 1210px){
    .img-service {
        top: 100px;
        width: 50%;
    }}
.img-service {
    position: absolute;
    right: -20px;
    top: 90px;
}

.details-service .trong-dong-bottom {
    color: #8d7535;
    border-bottom: 1px solid rgba(141,117,53,.32);
    font-family: 'Averta CY','SVN-Cera',Helvetica,sans-serif;
    padding: 0 1.5px 0 0;
}

.menubar .nav-item:hover{
    border-bottom: 2px solid #F7FAFD;
}

@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.7rem;
        padding-left: 0.5rem;
    }}

.copyright{
    padding: 5px;
    border-bottom: 2px solid #F7FAFD; 
    border-top: 2px solid #F7FAFD;
    background-color: #e6a756;
}

.top-services {
    display: flex;
    margin-left: 13%;
}

.name-topService {
    border: 2px solid #8d7535;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 15%;
}

.name-topService:hover{
    transition: 0.2s;
    color: white;
    background-image: -webkit-linear-gradient(left, #ff0000 0%, #ff8533 50%, #ffff99 100%);
    transform: scale(1.1);
}

.section-titleTop{
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
    margin-left: 15px;
}
.section-titleTop b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

li.have_dots span {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    margin-right: 15px;
}

ul li.have_dots span::before{
    content: "";
    position: absolute;
    top: 3px;
    right: -6px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.dropdown-menu.bell {
    left: -240px;
    width: 280px !important;
    overflow-y: auto;
    height: fit-content;
    max-height: 300px;
    border-radius: 5px;
}

.noti:hover, .title-noti:hover{
    background-color: #ddd; 
}

.title-noti {
    color: #000;
    font-weight: bold;
    padding-left: 10px;
}

.content-noti {
    color: #8d7535;
    font-size: 13px;
    padding-left: 10px;
}

.time-noti {
    display: block !important;
    padding-left: 12px;
    font-size: 13px;
    font-style: italic;
    font-family: 'SVN-Cera',Helvetica,sans-serif;
    color: #999;
}