:root {
    --primary-color: #1ec6b6;
    --secondary-color: #FF4A52;
    --text-color: #040E27;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6em;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label, h5, p {
    margin: 0;
}

/*======================*/
#main {
    width: 100%;
    overflow-x: hidden !important;
}

thead {
    position: relative;
}

thead tr {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    background-color: rgba(0, 0, 0, 0.8);
}

/*--------- side bar -----------*/ 
.side-bar {
    position: fixed;

    width: 300px;
    height: 100vh;
    padding: 15px 0 15px 15px;
    box-shadow: 0 0 8px rgb(230, 230, 230);

    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.4s;
}

.side-bar .logo {
    margin-bottom: 50px;
    margin-right: 15px;

    text-align: center;
}

.side-bar .logo a {
    display: block;
}

.side-bar .logo a img {
    display: block;
    width: 100%;
}

.side-bar .avtar {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

.avtar .avtar-img img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgb(192, 192, 192);
}

.avtar .name-pos h3,
.avtar .name-pos h5 {
    padding: 2px 5px;
} 

.left-part ul li .profile .avtar-name h3,
.avtar .name-pos h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}

.avtar .name-pos h5 {
    color: #ccc;
    font-size: 1.2em;
}

.side-bar-nav ul li {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.4s;
}

.side-bar-nav ul li:hover {
    background-color: var(--primary-color);
}

.side-bar-nav ul li:hover .side-bar-subnav{
    background-color: #ffffff;
}

.side-bar-nav ul li div,
.side-bar-nav ul li a{
    display: flex;
    align-items: center;

    padding: 15px 10px;
    padding-left: 25px;
    margin: 10px 0;
    width: 100%;

    font-size: 1.6em;
    font-weight: 400;
    cursor: pointer;
}

.side-bar-nav ul li a {
    padding-left: 25px;
}

.side-bar-nav ul li a i {
    min-width: 22px;
    text-align: center;
}

.side-bar-nav ul li .side-bar-subnav-1 li a,
.side-bar-nav ul li .side-bar-subnav-2 li a {
    padding-left: 30px;

    color: #494B55;
}

.side-bar-nav ul li div.link-wrapper ~ .side-bar-subnav-1,
.side-bar-nav ul li div.link-wrapper ~ .side-bar-subnav-2 {
    height: 0px;
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
}

.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 {
    display: block;
    height: 192px;
}

.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 {
    display: block;
    height: 310px;
}

.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-1:nth-child(1),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-2:nth-child(2),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-3:nth-child(3),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-4:nth-child(4),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-1:nth-child(1),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-2:nth-child(2),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-3:nth-child(3),
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-4:nth-child(4){
    background-color: var(--primary-color);
}

.side-bar-nav div.link-wrapper.active ~ .side-bar-subnav-1 li.page-1:nth-child(1) a,
.side-bar-nav div.link-wrapper.active ~ .side-bar-subnav-1 li.page-1:nth-child(1) a span,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-2:nth-child(2) a,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-2:nth-child(2) a span,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-3:nth-child(3) a,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-3:nth-child(3) a span,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-4:nth-child(4) a,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-1 li.page-4:nth-child(4) a span,
.side-bar-nav div.link-wrapper.active ~ .side-bar-subnav-2 li.page-1:nth-child(1) a,
.side-bar-nav div.link-wrapper.active ~ .side-bar-subnav-2 li.page-1:nth-child(1) a span,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-2:nth-child(2) a,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-2:nth-child(2) a span,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-3:nth-child(3) a,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-3:nth-child(3) a span,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-4:nth-child(4) a,
.side-bar-nav ul li div.link-wrapper.active ~ .side-bar-subnav-2 li.page-4:nth-child(4) a span{
    color: #fff;
}

.side-bar-nav ul li a span {
    color: #494B55;
}

.side-bar-nav ul li .side-bar-subnav-1 li:hover a,
.side-bar-nav ul li .side-bar-subnav-1 li:hover a span,
.side-bar-nav ul li .side-bar-subnav-2 li:hover a,
.side-bar-nav ul li .side-bar-subnav-2 li:hover a span,
.side-bar-nav ul li:hover .link-wrapper span {
    color: #fff !important;
}

.side-bar-nav ul li .link-wrapper.active {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: var(--primary-color);
}

.side-bar-nav ul li .link-wrapper.active span {
    color: #fff;
}

.side-bar-nav ul li div .nav-link,
.side-bar-nav ul li a .nav-link {
    margin-left: 15px;
}

/*----------------- header start -------------------*/ 
header {
    min-height: 80px;
    margin-left: 300px;
    padding: 15px;
    box-shadow: 0 0 8px rgb(192, 192, 192);
}

header .head_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search .form-search {
    position: relative;
    width: 300px;
    height: 45px;
    margin-left: auto;
}

.search .form-search input {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border: none;

    font-size: 1.4rem;
    box-shadow: 0 0 8px rgb(223, 223, 223);
}

.search .form-search input:focus {
    box-shadow: 0 0 8px #ccc;
    outline: none;
}

.search .form-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    padding-top: 5px;
    border: none;

    font-size: 2em;
    text-align: center;

    color: #fff;
    background-color: var(--secondary-color);

    cursor: pointer;
}

.main-table .user-table .table tbody tr:nth-child(2n) {
    background-color: #faf5f5;
}

.left-part .profile .avtar-img img {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgb(192, 192, 192);
}

header .head_inner .left-part ul {
    display: flex;
    align-items: center;

}

header .head_inner .left-part ul li {
    margin-left: 30px;
}

.left-part ul li .profile {
    display: flex;
    align-items: center;
}

.left-part ul li .profile .avtar-img {
    margin-right: 15px;
}

header .head_inner .left-part ul li span {
    display: inline-block;

    transition: all 0.3s ease;
    cursor: pointer;
}

header .head_inner .left-part ul li span i {
    font-size: 2.2em;
}

header .head_inner .left-part ul li span:hover {
    color: var(--primary-color);
}

header .head_inner .left-part ul li.have_dots span {
    position: relative;
    display: inline-block;
}

header .head_inner .left-part ul li.have_dots span::before {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 8px;
    height: 8px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

/*-------------- Hide side bar ----------------*/ 
.side-bar.hide {
    width: 100px;
    overflow: hidden;
}

.side-bar.hide .avtar .name-pos,
.side-bar.hide .side-bar-nav ul li div .nav-link,
.side-bar.hide .side-bar-nav ul li div span:last-child,
.side-bar.hide  li .link-wrapper ~ .side-bar-subnav .hide-nav,
.side-bar.hide .side-bar-nav ul li a .nav-link,
.side-bar.hide .side-bar-nav ul .accordion .accordion-item .accordion-header .link-wrapper .nav-link,
.side-bar.hide .side-bar-nav ul .accordion .accordion-item .accordion-body{
    display: none;
}

.side-bar.hide .side-bar-nav .link-wrapper span:not(.nav-link) {
    padding-left: 5px;
    font-size: 2em;
}

.slide-left {
    margin-left: 115px !important;
}

header, .main-content {
    transition: 0.4s;
}

/* ---------- Main content ----------- */
.main-content {
    margin: 15px;
    margin-left: 315px;
    margin-top: 120px;
    padding: 15px;
    box-shadow: 0 0 8px rgb(230, 230, 230);
}

.main-content .main-table .main-title {
    margin: 35px 0 0;

}

.main-content .main-table .main-title h2 {
    font-size: 2.6em;
    line-height: 24px;
    margin-bottom: 15px;
}

.main-content .main-table .user-table {
    display: grid;
    overflow-y: auto;
}

.main-table .user-table .table .table-primary .text-center th,
.main-table .user-table .table .table-success .text-center th,
.main-table .user-table .table .table-warning .text-center th{
    padding: 12px 10px;
    min-width: 130px;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: auto;
    text-align: center;
    vertical-align: middle;
}

.main-table .user-table .table .table-primary .text-center .name,
.main-table .user-table .table .table-success .text-center .name{
    min-width: 165px;
}

.main-table .user-table .table tbody tr .d-flex a{
    margin: auto;
}

.main-table .user-table .table tbody tr td {
    padding: 15px 8px 15px 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.main-table .user-table .table tbody tr td a{
    vertical-align: middle;
}

header, .main-content {
    transition: 0.4s;
}

/*===================================*/
@media screen and (max-width: 1119px) {
    .main-content .main-table .user-table .table {
        width: 180%;
    }
}

/*Tablet*/ 
@media screen and (max-width: 992px) {
    .side-bar {
        left: -300px;
        z-index: 100;
    }

    .side-bar.hide {
        left: 0;
        width: 300px;
        overflow-y: auto;
    }

    header, .main-content {
        margin: 0;
    }

    .slide-left {
        margin-left: 0;
    }

    .side-bar.hide .side-bar-nav ul li div .nav-link {
        display: block;
    }

    .side-bar.hide li .link-wrapper ~ .side-bar-subnav-1 .hide-nav,
    .side-bar.hide li .link-wrapper ~ .side-bar-subnav-2 .hide-nav{
        display: block;
    }

    .main-content .main-table .user-table .table {
        width: 180%;
    }

    .main-table .user-table table tbody tr td {
        padding-right: 10px;
    }

    .side-bar.hide .avtar .name-pos,
    .side-bar.hide .side-bar-nav ul li a .nav-link {
        display: block;
    }
}

@media screen and (max-width: 767px) {

    .search form {
        width: 200px;
        height: 40px;
    }

    .searchPay .form-search.d-flex {
        width: 800px;
        height: 80px;
    }

    .main-content .main-table .user-table {
        overflow-x: auto;
    }

    .main-content .main-table .user-table .table {
        width: 1100px;
    }
}

@media screen and (max-width: 576px) {
    header .head_inner {
        flex-direction: column-reverse;
    }

    .search form {
        width: 100%;
        height: 40px;
    }

    .searchPay .form-search.d-flex {
        width: 100%;
        height: 80px;
    }

    .search, .searchPay
    header .head_inner .left-part {
        width: 100%;
        margin: 15px;
    }

    header .head_inner .left-part ul {
        justify-content: space-between;
    }

    header .head_inner .left-part ul li:first-child {
        margin-left: 0;
    }

    .main-content{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    header .head_inner .left-part ul li {
        margin-left: 15px;
    }
}

.side-bar-nav ul .dropdown div .link-wrapper .nav-link{
    font-size: 0.6em;
}


/*EMPLOYEE-MANAGEMENT*/ 
.main-table .user-table table td .user-delete,
.main-table .user-table table td .user-edit {
    padding: 8px;
    margin-right: 8px;

    font-size: 2.4rem;

    color: var(--primary-color);
}

.main-table .user-table table td .user-delete {
    color: var(--secondary-color);
}

.main-table .user-table table td .user-edit:hover,
.main-table .user-table table td .user-delete:hover {
    opacity: 0.8;
}

.side-bar-nav .dropdown .nav-link {
    color: #494B55;
}

.main-content  .search .btnModal {
    padding: 8px 28px;

    font-size: 1.8rem;
    font-weight: 500;

    color: #fff;
    background-color: var(--primary-color);
    transition: all 0.2s linear;
    border: 0;
    border-radius: 5px;
}

.main-content .search .btnModal:hover {
    opacity: 0.8;
}

/*WEDDING-MANAGEMENT*/ 
.main-table .user-table .table .table-success .text-center .id{
    min-width: 5px !important;
}
.main-table .user-table .table .table-success .text-center .description{
    min-width: 200px !important;
}

.main-table .user-table .table .table-wedding tr td{
    margin-bottom: auto !important;
    margin-top: auto !important;
}

/*WEDDINGSERVICES-MANAGEMENT*/ 
.user-delete.disabled{
    opacity: 0.4;
}

.main-table .user-table .table .table-success .text-center .min{
    min-width: 80px;
}

.wedding .form-check.disabled{
    opacity: 0.5 !important;
    color: #ccc !important;
}

/*FOOD-MANAGEMENT*/ 
.user-table {
    max-height: 425px !important;
    overflow-y: auto;
}

.imageMana {
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    display: inline-block;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(192, 192, 192);
}

.main-table .user-table .table .food tr td {
    vertical-align: middle;
}

.main-table .user-table .table .food tr .d-flex {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 5px;
    cursor: pointer;
    text-align: center;  
}

.main-table .user-table.food .table .table-success.food .text-center .description{
    min-width: 175px !important;
}

/*MODAL*/
.modal .modal-dialog .modal-content .wedding,
.modal .modal-dialog .modal-content .user-employee{
    font-size: 16px;
    font-weight: bold;
}

.modal .modal-dialog .modal-content .wedding input, 
.modal .modal-dialog .modal-content .wedding textarea,
.modal .modal-dialog .modal-content .user-employee input,
.select .selected select{
    font-size: 15px;
}

.modal .modal-dialog .modal-content .modal-footer button{
    font-size: 20px;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-footer button:hover{
    opacity: 0.9;
}

.modal-content{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #e6ffe6;
}
.modal-content.employee{
    width: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #e6ffe6;
}

.modal-content .btn-close{
    margin: 10px;
}
.user-employee{
    display: flex;
}

.user-employee .left,
.user-employee .right{
    margin: auto;
}

.user-employee .left .form-group,
.user-employee .right .form-group{
    width: 250px;
}

/*Custom Accordion*/
.accordion-item {
    border: none;
}

.accordion-button {
    padding: 15px 10px 15px 25px;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: unset;
}

.accordion-button.link-wrapper.collapsed {
    background-color: #ffffff;
}

.accordion-button.link-wrapper, .accordion-button.link-wrapper:hover,
.accordion-item .accordion-item-custom:hover {
    background-color: var(--primary-color);
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    color: #ffffff;
    transition: all 0.6s linear;
}

.accordion-button.link-wrapper:hover .nav-link {
    color: #ffffff !important;
}

.accordion-button.link-wrapper .nav-link {
    margin-left: 12px;
    font-size: 1.6em;
    font-weight: 400;
    cursor: pointer;
    color: #ffffff;
}

.accordion-button.link-wrapper .fas.fa-solid.fa-utensils,
.accordion-button.link-wrapper .fas.fa-solid.fa-chart-bar{
    color: black;
    font-size: 18px;
}

.accordion-button.link-wrapper .wrap-icon {
    padding: 5px;
}

.accordion-button.link-wrapper.collapsed .nav-link {
    color: #494B55;
}

.accordion-item .accordion-item-custom {
    padding: 10px 0px 10px 30px;  
}

.accordion-item .accordion-item-custom:hover a span, 
.accordion-item .accordion-item-custom:hover a i {
    color: #fff;
}

.accordion-item .accordion-item-custom a {
    font-size: 14px;
}

.accordion-item .accordion-item-custom a span, .accordion-item .accordion-item-custom a i {
    color: #494B55;
}

.fixed-top {
    background-color: #ffffff;
}

.fixed-top:hover{
    background-color: var(--primary-color);
    transition: all 0.6s linear;
}

.result {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

/*PAY*/
.searchPay {
    height: 80px;
}

.searchPay .form-search.d-flex{
    position: relative;
    width: 800px;
    height: 45px;
    margin-left: auto;
}

.searchPay .form-search.d-flex div{
    width: 310px;
}

.searchPay .form-search.d-flex label{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.searchPay .form-search.d-flex .date{
    width: 300px;
    height: 100%;
    padding: 10px 15px;
    border: none;
    margin-bottom: 10px;

    font-size: 1.4rem;
    box-shadow: 0 0 8px rgb(223, 223, 223);
}

.searchPay .form-search.d-flex button {
    margin-top: 30px;
    width: 50px;
    height: 100%;
    padding-top: 5px;
    border: none;

    font-size: 2em;
    text-align: center;

    color: #fff;
    background-color: var(--secondary-color);

    cursor: pointer;
}

.main-table .user-table .table.orders .table-success .text-center .min,
.main-table .user-table .table.orders .table-warning .text-center .min{
    min-width: 50px !important;
}

.main-table .user-table .table.orders .table-warning .text-center .name {
    min-width: 165px;
}

.button-pay {
    text-decoration: none;
    color: white;
    font-size: 15px;
    width: 150px !important;
    padding: 10px;
    height: 10px;
}

.button-pay:hover{
    opacity: 0.6;
    color: #fff;
}

.msg .form-group .alert {
    font-size: 15px;
    width: 50%;
    font-weight: bold;
    font-style: italic;
}

/*THỐNG KÊ*/
.canvasStats{
    width: 75%;
    margin: auto;
    padding: 40px;
}
.canvasStats2{
    width: 60%;
    margin: auto;
    padding: 40px;
}
.table.stats {
    font-size: 15px;
    text-align: center;
}

.searchStats input,
.searchStats button,
.searchStats select{
    font-size: 15px;
}